ul.blog-list
  each topic in topics
    li.blog-list__item
      a.blog-list__img-block(href=`${topic.url}`)
        img.blog-list__img(src=`${topic.image}` alt='')
      a.blog-list__title(href=`${topic.url}`)= topic.title
      .blog-list__infosection
        .blog-list__date= topic.published_at
        a.blog-list__category(href=`/category/${topic.category.slug}`)= topic.category.title
      .blog-list__description= topic.description