extends ../../layouts/main

block title
  | Редактирование топика

block content
  .blog-page
    .blog-page__title
      .page-title-block
        .page-title-block__img-block
          img.page-title-block__img(src='/images/polygon-background-blog.png')
        .page-title-block__content
          .page-title-block__title Редактирование статьи
    .blog-page__content
      form.editor.js-editor-form(action='#' method='GET')
        .editor__field
          label.form-label.editor__label(for='title') Заголовок
          input.form-text(type='text' name='title' id='title' value=topic.title)
        .editor__field
          label.form-label.editor__label(for='description') Описание
          input.form-text(type='text' name='description' id='description' value=topic.description)
        .editor__field
          label.form-label.editor__label(for='image') Картинка
          input.form-text(type='text' name='image' id='image' value=topic.image)
        .editor__field
          .form-label.editor__label Рубрика
          .editor__select-wrap
            select.form-select(size='1' name='category' value=topic.category)
              for category in categories
                option(value=category.title selected=category.title === topic.category.title)= category.title
        .editor__field
          label.form-label.editor__label(for='slug') Url заголовок
          input.form-text(type='text' name='slug' id='slug' value=topic.slug readonly)
        .editor__field
          .form-label.editor__label Тело статьи
          .editor__body
            for body_item, index in topic.body
              .editor__body-item
                .editor__field
                  .form-label.editor__label Тип вреза:
                  input.form-text.editor__body-type(type='text' name=`body[${index}][type]` value=body_item.type readonly)
                if ['text','code','snippet'].includes(body_item.type)
                  textarea.form-text(name=`body[${index}][content]` rows='5')= body_item.content
                if body_item.type === 'image'
                  .editor__field
                    label.form-label.editor__label(for=`body${index}-title`) Заголовок
                    input.form-text(type='text' name=`body[${index}][title]` id=`body${index}-title` value=body_item.title)
                  .editor__field
                    label.form-label.editor__label(for=`body${index}-author`) Автор
                    input.form-text(type='text' name=`body[${index}][author]` id=`body${index}-author` value=body_item.author)
                  .editor__field
                    label.form-label.editor__label(for=`body${index}-url`) Url
                    input.form-text(type='text' name=`body[${index}][url]` id=`body${index}-url` value=body_item.url)
                if body_item.type === 'gallery'
                  for image, image_index in body_item.images
                    .editor__body-inner-item
                      .editor__field
                        label.form-label.editor__label(for=`body${index}-${image_index}-title`) Заголовок картинки №#{image_index + 1}
                        input.form-text.editor__text(type='text' name=`body[${index}][images][${image_index}][title]` id=`body${index}-${image_index}-title` value=image.title)
                      .editor__field
                        label.form-label.editor__label(for=`body${index}-${image_index}-url`) Url
                        input.form-text.editor__text(type='text' name=`body[${index}][images][${image_index}][url]` id=`body${index}-${image_index}-url` value=image.url)
                if body_item.type === 'read_more'
                  for topic, topic_index in body_item.topics
                    .editor__body-inner-item
                      .editor__field
                        label.form-label.editor__label(for=`body${index}-${topic_index}-title`) Заголовок топика №#{topic_index + 1}
                        input.form-text(type='text' name=`body[${index}][topics][${topic_index}][title]` id=`body${index}-${topic_index}-title` value=topic.title)
                      .editor__field
                        label.form-label.editor__label(for=`body${index}-${topic_index}-image`) Картинка
                        input.form-text(type='text' name=`body[${index}][topics][${topic_index}][image]` id=`body${index}-${topic_index}-image` value=topic.image)
                      .editor__field
                        label.form-label.editor__label(for=`body${index}-${topic_index}-url`) Url
                        input.form-text(type='text' name=`body[${index}][topics][${topic_index}][url]` id=`body${index}-${topic_index}-url` value=topic.url)
        .editor__field
          .form-label.editor__label Тэги
          .editor__right-fill
            for tag, index in topic.tags
              .editor__body-inner-item
                .editor__field
                  label.form-label.editor__label(for=`tags${index}`) Заголовок
                  input.form-text(type='text' name=`tags[${index}]` id=`tags${index}` value=tag.title)
        .editor__field
          .form-label.editor__label Читайте так же
          .editor__right-fill
            for read_more_item, index in topic.read_more
              .editor__body-inner-item
                .editor__field
                  label.form-label.editor__label(for=`read_more${index}-title`) Заголовок
                  input.form-text(type='text' name=`read_more[${index}][title]` id=`read_more${index}-title` value=read_more_item.title)
                .editor__field
                  label.form-label.editor__label(for=`read_more${index}-image`) Картинка
                  input.form-text(type='text' name=`read_more[${index}][image]` id=`read_more${index}-image` value=read_more_item.image)
                .editor__field
                  label.form-label.editor__label(for=`read_more${index}-category`) Рубрика
                  input.form-text(type='text' name=`read_more[${index}][category]` id=`read_more${index}-category` value=read_more_item.category readonly)
                .editor__field
                  label.form-label.editor__label(for=`read_more${index}-url`) Url
                  input.form-text(type='text' name=`read_more[${index}][url]` id=`read_more${index}-url` value=read_more_item.url)
        button.button._primary.editor__button(type='submit') Отправить
        button.button._danger.editor__button.js-delete-topic(type='button') Удалить