ul.last-posts
  each topic, index in lastMaterials.topics
    if index !== 0
      li.last-posts__item
        a.last-posts__img-block(href=`${topic.url}`)
          img.last-posts__img(src=`${topic.image}`)
        .last-posts__content
          .last-posts__header
            .last-posts__posted
              | Опубликовано
              date.last-posts__date= topic.published_at
          .last-posts__body
            a.last-posts__title(href=`${topic.url}`)= topic.title
            .last-posts__description= topic.description
          .last-posts__footer
            | Тут тоже что-то будет