.topic-header(style=`background-image: url('${image}')`)
  .topic-header__wrapper
    .topic-header__title= title
    .topic-header__description= description
    .topic-header__infobar
      a.topic-header__category(href=`/category/${category.slug}`)= category.title
      .topic-header__date= published_at
      .topic-header__sharing